{% extends 'default/base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block header %}
{{ include('default/header.html.twig') }}
{% endblock %}
{% block menu %}
{{ include('default/menu.html.twig') }}
{% endblock %}
{% block body %}
<div class="container">
  <div class="box white"></div>
  <div class="box purple"></div>
  <div class="box gray"></div>
</div>
{% endblock %}
{% block social %}
{{ include('default/social.html.twig') }}
{% endblock %}
