<footer class="page-footer grey darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Pand3mie WebSite</h5>
              <p class="grey-text text-lighten-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti veritatis modi iusto voluptatum molestias tempora architecto, quidem odio ut ratione fuga perspiciatis illum est quas mollitia obcaecati fugiat laboriosam hic. </p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">A propos</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Conditions générales</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Données personnelles</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Mentions légales</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Cookies</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <blockquote>© 2018 - 2019 Pand3mie Teams</blockquote> 
          <a class="grey-text text-lighten-4 right" href="#!">Plus de liens...</a>
          </div>
        </div>
      </footer>