<!-- Dropdown Structure -->
<nav class="transparent" role="navigation">
    <div class="nav-wrapper container transparent">
        <a href="#!" class="brand-logo"><i class="material-icons">
        bug_report
        </i>Pand3mie</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#!" data-target="dropdown1"><i class="material-icons left">
                    person
                    </i>User<i class="material-icons right">arrow_drop_down</i></a></li>
        {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a class="nav-link" href="{{path('logout')}}"><i class="material-icons">
                power_settings_new
                </i></a>
        </li>
    {% else %}
        <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
            <a class="nav-link" href="{{path('login')}}">Connexion</a>
        </li>
        <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
            <a class="nav-link" href="{{path('app_registration_register')}}">Inscription</a>
        </li>
    {% endif %}
        <!-- Dropdown Trigger -->
        </ul>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Profil</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
            {% endif %}
    </ul>
    </div>
</nav>


      