
<div class="left-sidebar">
    <ul class="collection right-align">
        <li class="collection-item"><i class="fab fa-facebook"></i></li>
        <li class="collection-item"><i class="fab fa-twitter-square"></i></li>
        <li class="collection-item"><i class="fab fa-linkedin"></i></li>
        <li class="collection-item"><i class="fab fa-google-plus-square"></i></li>
    </ul>
</div>