
<div class="left-sidebar">
    <ul class="collection right-align">
        <li class="collection-item"><i class="fa fa-facebook-square"></i></li>
        <li class="collection-item"><i class="fa fa-twitter-square"></i></li>
        <li class="collection-item"><i class="fa fa-linkedin"></i></li>
        <li class="collection-item"><i class="fa fa-google-plus-square"></i></li>
    </ul>
</div>