@import "node_modules/materialize-css/sass/materialize.scss";

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700|Rubik:400,400i,500);

/*
  Tip: You can change the theme name here to generate new default style, you can also create your own !
*/

a {
  text-decoration: none;
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
a:focus, a:active
{ 
outline:0; 
}
body {
  /*background-image: url('build/images/background.jpg'); */
  background-size: 100%;
}
.body-content{
  min-height: 800px;
  background-color: white;
  border-radius: 16px;
}
div {
  text-align: justify;
  text-justify: inter-word;
}
.header{
  width: 100%;
  height: 250px;
  overflow: hidden;
  transform: skewY(-6deg);
  transform-origin: 0;
  background: linear-gradient(0deg, #383835 0, #424242);
  position: absolute;
  z-index: -999;
}
.box{
  height: 500px;
  margin-top: 100px;
}
.sticky-nav{
  position: fixed;
  top:0;
}
.left-sidebar{
  position: fixed;
  top:50%;
  z-index: 999;
}
.left-sidebar ul{
  border: none;
}
.left-sidebar i.fab{
  font-size: 25px;
  color: #fff;
}
.left-sidebar li{
  width:60px;
  transition:.5s;
  border-radius: 0px 15px 15px 0px;
}
.left-sidebar li:nth-child(1){
  background:#3b5999;
}
.left-sidebar li:nth-child(2){
  background:#55acee;
}
.left-sidebar li:nth-child(3){
  background:#0077B5;
}
.left-sidebar li:nth-child(4){
  background:#dd4b39;
}
.left-sidebar li:hover{
  width: 150px;
}
.margetop{
  height:200px;
}