@import "node_modules/materialize-css/sass/materialize.scss";

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700|Rubik:400,400i,500);

/*
  Tip: You can change the theme name here to generate new default style, you can also create your own !
*/

a {
  text-decoration: none;
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
a:focus, a:active
{ 
outline:0; 
}
body {
  background-image: url('build/images/background.jpg');
  background-size: 100%;
}
.body-content{
  min-height: 800px;
  background-color: white;
  border-radius: 16px;
}
div {
  text-align: justify;
  text-justify: inter-word;
}