@import "node_modules/materialize-css/sass/materialize.scss";

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700|Rubik:400,400i,500);

/*
  Tip: You can change the theme name here to generate new default style, you can also create your own !
*/

/* Surchage Materialize css */



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


a {
  text-decoration: none;
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
a:focus, a:active
{ 
outline:0; 
}
body {
  /*background-image: url('build/images/background.jpg'); */
  background-size: 100%;
}
.body-content{
  min-height: 800px;
  background-color: white;
  border-radius: 16px;
}
.header{
  width: 100%;
  height: 250px;
  overflow: hidden;
  transform: skewY(-6deg);
  transform-origin: 0;
  background: linear-gradient(0deg, #383835 0, #424242);
  position: absolute;
  z-index: -999;
}
.box{
  height: 500px;
  margin-top: 100px;
}
.sticky-nav{
  position: fixed;
  top:0;
}
.left-sidebar{
  position: fixed;
  top:50%;
  z-index: 999;
}
.left-sidebar ul{
  border: none;
}
.left-sidebar i.fab{
  font-size: 25px;
  color: #fff;
}
.left-sidebar li{
  width:60px;
  transition:.5s;
  border-radius: 0px 15px 15px 0px;
}
.left-sidebar li:nth-child(1){
  background:#333333;
}
.left-sidebar li:nth-child(2){
  background:#333333;
}
.left-sidebar li:nth-child(3){
  background:#333333;
}
.left-sidebar li:nth-child(4){
  background:#333333;
}
.left-sidebar li:hover{
  width: 150px;
}
.margetop{
  height:200px;
}
.logo{
  position:fixed;
  top: -54px;
}
.button-middle{
  text-align: center;
  position: relative;
  left: 35%;
  width: 30%;
  top: 25px;
}
.back{
  background: grey;
  margin-top: 50px;
  margin-bottom: 161px;
  /* min-height: 500px; */
}
.login-center{
  position: fixed;
  left: 37%;
  width: 100%;
  top: 1%;
}
#cookie-law-info-bar{
  width: 100%;
  background: rgba(0, 0, 0, 0.6) !important;
  position: fixed;
  bottom: 0px !important;
  left: 0 !important;
  height: 143px;
  color: white;
}
#bar{
position: absolute;
bottom:0;
left:0;
background:#E58949;
width: 0%;  
height:2px;
}
.bounce {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  
  @keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  .dropdown-content li > a, .dropdown-content li > span {
  color:#E58949;
  }
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 

    .blog-main{
      margin-bottom: 100px;
      margin-top: 50px;
    }
    #card-alert button {
      background: none;
      border: none;
      position: absolute;
      top: 15px;
      right: 10px;
      font-size: 20px;
      color: #fff;
  }
  blockquote {

      margin: 20px 0;
      padding-left: 1.5rem;
      border-left: 5px solid #333333; /* Just change the color value and that's it*/
   }
   .tags {
    position: relative;
    top: 63px;
    z-index: 999;
    left: 16px;
   }
/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  font-size: 9px;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
.activator{

}